* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  -webkit-touch-callout: none;
  -webkit-user-callout: none;
  -webkit-user-select: none;
  -webkit-user-drag: none;
  -webkit-user-modify: none;
  -webkit-highlight: none;
  -webkit-text-size-adjust: none;
  -webkit-touch-callout: none;
  touch-action: none;
}   

html {
  height: 100%;
  width: 100%;
}

body {
  background-color: #aaa;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 100%;
}

.background {
  background-color: #21252B;
  height: 600px;
  width: 360px;
  box-shadow: #00000047 0px 8px 10px 4px;
  position: relative;
  margin-bottom: 16px;
  display: flex;
  justify-content: center;
}

.links {
  position: absolute;
  top: 0;
  right: 0;
  padding: 24px;
  display: flex;
  flex-direction: column;
}

.version {
  position: absolute;
  bottom: 0;
  right: 0;
  padding: 24px;
  color: #333;
}

.container {
  display: flex;
  flex-direction: column;
  gap: 8px;
  align-items: center;
}

:root {
  --vscode-editor-foreground: #abb2bf;
}

/* CSS */
.button-4 {
  appearance: none;
  background-color: #FAFBFC;
  border: 1px solid rgba(27, 31, 35, 0.15);
  border-radius: 6px;
  box-shadow: rgba(27, 31, 35, 0.04) 0 1px 0, rgba(255, 255, 255, 0.25) 0 1px 0 inset;
  box-sizing: border-box;
  color: #24292E;
  cursor: pointer;
  display: inline-block;
  font-family: -apple-system, system-ui, "Segoe UI", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji";
  font-size: 14px;
  font-weight: 500;
  line-height: 20px;
  list-style: none;
  padding: 6px 16px;
  position: relative;
  transition: background-color 0.2s cubic-bezier(0.3, 0, 0.5, 1);
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  vertical-align: middle;
  white-space: nowrap;
  word-wrap: break-word;
}

.button-4:hover {
  background-color: #F3F4F6;
  text-decoration: none;
  transition-duration: 0.1s;
}

.button-4:disabled {
  background-color: #FAFBFC;
  border-color: rgba(27, 31, 35, 0.15);
  color: #959DA5;
  cursor: default;
}

.button-4:active {
  background-color: #EDEFF2;
  box-shadow: rgba(225, 228, 232, 0.2) 0 1px 0 inset;
  transition: none 0s;
}

.button-4:focus {
  outline: 1px transparent;
}

.button-4:before {
  display: none;
}

.button-4:-webkit-details-marker {
  display: none;
}

.mobile-controls {
  display: none;
  position: absolute;
  bottom: 24px;
}

#leftButton, #rightButton {
  font-size: 20px;
  line-height: normal;
}

@media screen and (max-width: 600px) {
  .links {
    display: none;
  }

  .mobile-controls {
    display: block;
  }
}